*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
.idea/appInsightsSettings.xml
/.idea/runConfigurations.xml
/.idea/inspectionProfiles/Project_Default.xml


/captures
.externalNativeBuild
.cxx

.DS_Store

.gradle
/build
/local.properties
gradle/wrapper/gradle-wrapper.properties

keystore.properties
keys/xplore signed apk info .rtf
keys/XploreKey
.idea/kotlinc.xml
.idea/deploymentTargetSelector.xml
