*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
/.idea/appInsightsSettings.xml
/.idea/runConfigurations.xml
/.idea/inspectionProfiles/Project_Default.xml


/captures
.externalNativeBuild
.cxx

.DS_Store

.gradle
/build
/local.properties
gradle/wrapper/gradle-wrapper.properties


app/keys/XploreKey
app/keys/xplore signed apk info.rtf
